/* cart page css here */
.cart {
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
}
.cart .leftDiv {
  width: 55%;
  margin-right: 0.5rem;
}
.cart .leftDiv .ldiv1 {
  width: 96%;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cart .leftDiv .ldiv1 h3 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.cart .leftDiv .ldiv1 div {
  display: flex;
  justify-content: space-between;
}
.cart .leftDiv .ldiv1 div div label {
  margin: auto 0 auto 10px;
}
.cart .leftDiv .ldiv1 div .delBtn {
  padding: 4px 8px;
  border: 0;
  background: #e7e5e5fb;
}
.cart .leftDiv .ldiv1 div .delBtn i {
  font-size: 15px;
}
.cart .leftDiv .ldiv1 div .shopMoreBtn {
  padding: 8px 16px;
  text-transform: uppercase;
  border: 0;
}
.cart .leftDiv .ldiv1 div .shopMoreBtn:hover {
  background: #66c47c;
}
.cart .cartProducts {
  width: 96%;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cart .cartProducts img {
  width: 250px;
  height: 150px;
}
.cart .cartProducts div h4 {
  margin-bottom: 9px;
}
.cart .cartProducts div span {
  color: #ff0000;
}
.cart .cartProducts button {
  border: 0;
}
.cart .cartProducts button i {
  font-size: 16px;
}
.cart .cartProducts .quantity {
  display: flex;
}
.cart .cartProducts .delBtn {
  padding: 4px 8px;
  background-color: #66c47c;
  margin: 0 0 1rem 1.5rem;
  border-radius: 5px;
}
.cart .cartProducts .quantity button {
  padding: 6px;
  border-radius: 5px;
}
.cart .cartProducts .quantity button:hover {
  background: #66c47c;
}
.cart .cartProducts .quantity h5 {
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  margin: 0 8px;
}
.rightDiv {
  width: 45%;
  height: 24rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.rightDiv .rightDiv1 h3 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}
.rightDiv .rightDiv1 div {
  display: flex;
  justify-content: space-between;
}
.rightDiv .rightDiv1 div p {
  margin: 0.5rem 0;
  font-size: 18px;
}
.rightDiv .rightDiv1 button {
  width: 100%;
  text-align: center;
  padding: 0.7rem 0;
  border: 0;
  text-transform: uppercase;
}
.rightDiv .rightDiv1 button:hover {
  background: #66c47c;
}
.rightDiv2 h3 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
  margin: 2rem 0 1rem 0;
}
.rightDiv2 .pay_icons {
  text-align: center;
}
.rightDiv2 .pay_icons i {
  margin-left: 2rem;
  font-size: 3rem;
}
.rightDiv2 .pay_icons i:first-child {
  margin-left: 0;
}
