/* register page css here*/
.registerMaindiv {
  width: 100%;
  height: 63.3vh;
}
.registerPage {
  width: 500px;
  height: auto;
  padding: 2rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.registerPage h2 {
  text-align: center;
  margin-bottom: 20px;
  padding: 0;
}
.registerPage form input {
  width: 100%;
  font-size: 16px;
  margin-bottom: 18px;
  padding: 6px 0 6px 10px;
  border: 1px solid #000;
  outline: none;
}
.registerPage form input:last-child {
  margin-bottom: 0;
}
.registerPage form textarea {
  width: 100%;
  height: 4rem;
  padding: 6px;
  margin-bottom: 18px;
}
.registerPage form button {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0;
}
.registerPage form button:hover {
  background: #000;
  color: #fff;
}
