/*top navbar*/
nav {
  font-family: fantasy;
  background-color: #0bb530;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
nav .navLink {
  font-family: fantasy, sans-serif;
  margin: 3rem;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  transition: 0.5s;
}
.navLink:hover {
  color: #000;
  border-top: 1px solid #000;
}

/*bottom navbar*/
.nav2 {
  background-color: #3bb457c7;
  height: 70px;
  position: sticky;
  top: 90px;
  left: 0;
  z-index: 100;
}
.nav2 .secondNavLinks {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
}
.nav2 .secondNavLinks .secondNavLink {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
}
.nav2 .secondNavLinks .secondNavLink:hover {
  color: #000;
}
