footer {
  background-color: #0bb530;
}
footer .footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 80px;
  color: #fff;
}
footer .footerContainer form label,
footer .footerContainer p {
  font-size: 20px;
}
footer .footerContainer form input[type="email"] {
  padding: 7px 10px;
  margin-right: 0;
  outline: none;
}
footer .footerContainer form button {
  padding: 7px 10px;
  margin-left: -5px;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}
footer .footerContainer form button:hover {
  background-color: #000;
  color: #fff;
  outline: none;
}
